<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create user</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="Signup">
        <div class="side1">
            <h1>Create Your Account</h1>
            <form action="/create" method="post">
                <input class="" type="text" name="username" placeholder="username">
                <input class="" type="text" name="email" placeholder="email">
                <input class="" type="text" name="password" placeholder="password">
                <input class="" type="submit" value="signup"></input>
                <p>Part of family? <a href="/login">Login</a></p>
            </form>

        </div>
        <div class="side2">
            <img src="/photo/login-page.jpg" alt="">
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>