<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="loginpages">
        <div class="side1">
            <h1>logIn your Account</h1>
            <form action="/login" method="post">
                <input class="" type="text" name="email" placeholder="email">
                <input class="" type="text" name="password" placeholder="password">
                <input class="sucessful" type="submit" value="login "></input>
                <p>Not a member? <a href="/createuser">Signup now</a></p>
            </form>

        </div>
        <div class="side2">
            <img src="/photo/login-page.jpg" alt="">
        </div>
    </div>



</body>

</html>

